.container {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
}

.box {
  width: 100%;
}

.light_blue, .green{
  width: 50%;
  order: -1;
}

.red {
  width: 33.333%;
}

.orange {
  width: 66.666%;
}
